body{
    background-image: url(../assets/img/wall1.jpg);
    background-size: cover;
}

.container{
    position: relative;
    margin: 150px auto;
    height: 500px;
    width: 700px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    border-radius: 25px;
}

.photo{
    height: 500px;
    width: 700px;
    background-color: #e2cb99;
    position: relative;
    border-radius: 25px;
}

img{
    width: 250px;
    margin: 50px 30px 10px 50px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

img:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    margin: 50px 30px 10px 50px; 
}

.keterangan{
    background-color:whitesmoke;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px 30px;
    width: 350px;
    height: 500px;
    border-radius: 25px;
} 

.tombol_kembali{
    position: absolute;
    margin: 225px 0px 0px 175px;
    height: 40px;
    width: 90px;
    background: whitesmoke;
    display: block;
    text-align: center;
    border: 2px solid #f84c63;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.tombol_kembali:hover{
    background:rgb(189, 127, 127);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}