body{
    margin:0;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    font-weight: 300;
    background-image: url(../assets/img/login2.jpg);
    background-size: cover;
}
#login-box{
    position: relative;
    margin: 150px auto;
    height: 500px;
    width: 800px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    border-radius: 25px;
}
.left-box{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    border-radius: 25px;
}
h1{
    margin: 0 0 20px 0;;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: left;
    border: 2px solid #f84c63;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.25s;
}

input[type = "text"]:focus,
input[type = "password"]:focus{
    width: 280px;
    border-color: #ecd157;
}

input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin-top: 100% ;
    text-align: center;
    border: 2px solid rgb(2, 109, 109);
    padding: 10px 40px;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
    background: rgb(109, 192, 181);
    font-size: 15px;
    transition: 0.2s ease;
}

.right-box{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 410px;
    height: 500px;
    background-image: url(../assets/img/rightbanner.jpg);
    background-size: cover;
    background-position: center;
    float: right;
    border-radius: 25px;
}

.right-box .sigin{
    display: block;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);

}

